
<table class="table">
  <thead class="thead-light">
    <tr>
      
      <th scope="col">Name</th>
      <th scope="col">Discription</th>
      <th scope="col">Image</th>
      <th scope="col">Change Status</th>
      
    </tr>
  </thead>
  <tbody>
    {{#each response}}
    <tr>
      
      <td>{{this.banner_name}}</td>
      <td>{{this.banner_discription}}</td>

      <td><img src="/product/{{this.banner_image}}" alt="" width="50em"></td>
      <td>
      

     

      <td>
                    
                    <a class="btn btn-success" href="/admin/update-banner/{{this._id}}"
                        >Edit
                        
                    </a>
                   
                    <a class="btn btn-danger" href="/admin/delete-banner/{{this._id}}"
                        onclick="return confirm('Are you sure you want to delete {{this.categoryname}} ?')">Delete
                       
                        </ion-icon>
                    </a>
                    
                    {{!-- <ion-icon name="close-outline"></ion-icon> --}}
                </td>



    </tr>
    {{/each}}
  </tbody>
</table>