<div class="container " style="margin-left: 250px !important;">
  <div class="container-fluid mx-5">
      <table class="table">
        <thead>
          <tr>
            <th scope="col-3 col-md-3">Date</th>
            <th scope="col-3 col-md-2">Total Amount</th>
            <th scope="col-3 col-md-2">Discounted Amount</th>
            <th scope="col-4 col-md-3">Payment Mode</th>
            <th scope="col-4 col-md-3"> Order Status</th>
            <th scope="col-4 col-md-1">Order Details</th>
            <th scope="col-4 col-md-1">Cancel Order</th>
            <th scope="col-4 col-md-1"></th>
                 
          </tr>
           
        </thead>
        <tbody>
              {{#each orders}}
              <tr>
                  <td scope="col-3 col-md-3">{{this.date}}
            </td>

                  <td scope="col-3 col-md-2">₹
              {{this.totalCost}}</td>
                  <td scope="col-4 col-md-3">₹
              {{this.finalCost}}</td>
                  <td scope="col-4 col-md-3">
              {{this.paymentMethod}}</td>
                  <td scope="col-4 col-md-2">
              {{this.orderStatus}}</td>
                  <td scope="col-4 col-md-2">
              <a type="button"   class="btn btn-outline-info btn-sm"        
                href="/view-order-details/{{this._id}}">View Details</a>
            </td>
            <td>
                  {{#if (or (eq this.orderStatus 'Shipped') (eq this.orderStatus 'Pending') )}}
                    <span style="font-weight: 600;"><button type="button"
                            class="btn  btn-danger border-radius"
                            onclick="cancelorders('{{this._id}}');return confirm('All items in this order will be cancelled ,Are you sure you want to Cancel  ?')"
                            style=" background-color: red;">Cancel</button></span>
                    {{/if}}
            
          </tr>
          {{/each}}
                </tbody>
           
      </table>

      



    
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0/axios.min.js"></script>
<script>
   function cancelorders(id) {
        console.log("axios response", id)
        axios({
            method: 'post',
            url: '/cancelorder/' + id

        }).then((response) => {
            console.log(response, 'this is response');

            location.reload()
        }).catch((error) => {
            console.log(error, "catch error at delivered axios.")
        })
    }

</script>



   


 